[submodule "React-Hooks-Exercise-1"]
	path = React-Hooks-Exercise-1
	url = https://github.com/seyoonPuvi/React-Hooks-Exercise-1.git
[submodule "React-Hooks-Exercise-2"]
	path = React-Hooks-Exercise-2
	url = https://github.com/seyoonPuvi/React-Hooks-Exercise-2.git
[submodule "React-Hooks-Exercise-4"]
	path = React-Hooks-Exercise-4
	url = https://github.com/seyoonPuvi/React-Hooks-Exercise-4.git
[submodule "React-Hooks-Exercise-5"]
	path = React-Hooks-Exercise-5
	url = https://github.com/seyoonPuvi/React-Hooks-Exercise-5.git
[submodule "React-Hooks-Exercise-5a"]
	path = React-Hooks-Exercise-5a
	url = https://github.com/seyoonPuvi/React-Hooks-Exercise-5a.git
[submodule "BMI-calculator-ReactHook"]
	path = BMI-calculator-ReactHook
	url = https://github.com/seyoonPuvi/BMI-calculator-ReactHook.git
